openpyxl
suds
pyserial-2.7-py2-none-any.whl
numpy-1.10.4+mkl-cp27-none-win32.whl
opencv_python-2.4.12-cp27-none-win32.whl
pycurl-7.21.5-cp27-none-win32.whl
lxml-3.5.0-cp27-none-win32.whl
urlgrabber-3.9.0.tar.gz